body {
    font-family: Arial, Helvetica, sans-serif;
    color: #777777;
    background: #777777;
    width: 960px;
    font-size: 18px;
    margin: auto;
}

header,
nav,
section,
aside,
footer {
    display: block;
    padding: 10px;
    margin: 10px;
    text-align: center;
    background: #ebebeb;
}

section {
    display: block;
    float: left;
    width: 495px;
    height: 267px;
    overflow: hidden;
}

article {
    padding: 10px;
    color: #ebebeb;
    background: #777777;
}

aside {
    display: block;
    float: right;
    width: 40%;
    height: 267px;
    overflow: hidden;
}

.no-float {
    clear: both;
}

h1,
p {
    width: 90%;
    padding: 10px;
    margin: 10px;
    color: #777777;
    text-align: center;
    background: #ebebeb;
}